body{
	margin: 0;
	background-color: #fff;
	font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1{
	font-size: 70px;
	color: #fff;
	text-align: center;
	margin-top: 22%;
}

h2{
	font-size: 35px;
	color: #fff;
	text-align: center;
}

p{

}

a{

}

.wrapper{
	margin: auto;
}

header{
	height: 100vh;
	width: 100vw;
	position: absolute;
	background-color: #171717;
	background-attachment: fixed;
}



@media (min-width: 1920px) {


}


@media (max-width: 1080px){


}


@media (max-width: 1000px) {


}

@media (max-width: 767px){


}


@media (max-width: 660px){


}


@media (max-width: 375px){


}


	@media (max-width: 320px){


}
